github "CocoaLumberjack/CocoaLumberjack"
github "mauron85/SOMotionDetector" "carthage"
github "intuit/LocationManager"
github "mauron85/objective-c-sql-query-builder" "carthage"
github "ccgus/fmdb"
github "tonymillion/Reachability" "master"
